#welcome-logo {
    background: #47545D;
    background-image: url('./../../../assets/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

@media screen and (max-width: 576px) {
    #welcome-logo {
        background-image: url('./../../../assets/logo-small.png');
    }
}

#quote {
    font-family: 'Beth Ellen', cursive;
}